<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Posts</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<div class = "container">
    <h2>List Posts</h2>
    <hr/>
    <a th:href = "@{/showNewPostForm}" class = "btn btn-primary mb-2">Add Post</a>
    <table class = "table table-bordered table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Content</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post:${listPosts}">
            <td th:text="${post.id}"></td>
            <td th:text="${post.title}"></td>
            <td th:text="${post.description}"></td>
            <td th:text="${post.content}"></td>
            <td>
                <a th:href="@{/showNewCommentForm(id = ${post.id})}" class = "btn btn-primary">Add Comment</a>
                <a th:href="@{/showFormForUpdate(id = ${post.id})}" class = "btn btn-info">Update Post</a>
                <a th:href="@{/deletePost(id = ${post.id})}" class = "btn btn-danger">Delete Post</a>

            </td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>